.contact {
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(34, 34, 34);
    color: rgb(153, 153, 153);

    &__wrapper {
        &--header {
            margin: 20px auto 10px auto;
            text-align: center;
            font-size: 36px;
            color: #fff;
        }

        &--text {
            margin: 0 auto;
            text-align: center;
            padding: 0 20px;
            font-size: 16px;
            padding-left: 20%;
            padding-right: 20%;
        }

        &--container {
            padding-top: 30px;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;

            &-input {
                background: #333333;
                border: 1px;
                border-radius: 5px;
                padding: 5px 15px;
                font-size: 16px;
                font-weight: 600;
                color: white;
            }

            &-textarea {
                background: #333333;
                border: 1px;
                padding: 5px 15px;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 600;
                resize: vertical;
                min-height:100px;
            }

            &-button {
                padding: 10px 20px;
                border: 1px solid #989898;
                background: #333333;
                font-size: 18px;
                border-radius: 5px;
                color: #989898;
                display: block;
                margin: 0 auto;
                text-align: center;
                &:hover {
                    background-color: #222222;
                    color: #989898;
                }
                &:focus {
                    color: #989898;
                    outline: none;
                }
            }

            .error {
                color: red;
            }
        }
        &--info {
            display: inline-block;
            vertical-align: top;
            padding-top: 20px;

            &-breaker {
                vertical-align: top;
                display: inline-block;
                @media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
                    width: 100%;
                }

                .content {
                    h3 {
                        font-size:18px;
                        color:#fff;
                    }

                    p {
                        font-size: 16px;
                        margin:0;
                    }
                    .social {
                        a {
                            background: url(../assets/images/contact-social-strip.png);
                            width: 30px;
                            height: 30px;
                            display: inline-block;
                            background-size: 586%;
                            background-repeat: no-repeat;
                        }

                        .twitter {
                            background-position: -36px;
                        }

                        .linkedin {
                            background-position: -72px;
                        }

                        .pinterest {
                            background-position: -108px;
                        }

                        .vimeo {
                            background-position: -144px;
                        }
                    }
                }
            }
        }
    }
}
