.navbar {
    margin-bottom: 0;
    top: 0;
    z-index: 999;
    &.navbar-default {
        background-color: transparent;
        border: none;
        z-index: 1;
        position: absolute;
        width: 100%;

        @media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
            background-color: #5c1bb7;
            position: fixed;
        }

        .container-fluid {
            padding: 0;
            .navbar-header {
                @media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
                    margin: 0 auto;
                }
                .navbar-brand {
                    color: #fff;
                    margin-left: 15px;
                    font-size: 20px;

                    &:hover, &:focus {
                        color: #fff;
                    }
                }
                .navbar-toggle {
                    border: 0 none;
                    margin-right: 30px;
                    &:hover, &:focus {
                        background: #400d88;
                    }

                    .icon-bar {
                        background-color: #fff;
                    }
                }
            }

            .navbar-collapse {
                border: 0 none;
                @media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
                    text-align: center;
                }

                .navbar-nav {
                    float: right;
                    margin: 0;
                    @media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
                        width: 100%;
                    }

                    li {
                        a {
                            background-color: transparent;
                            color: #fff;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
