<div id="pricing-modal" class="pricing__modal">
    <div class="overlay"></div>
    <div class="pricing__modal--dialog">
        <div class="row">
            <button class="close" {{action 'toggleModal'}}>&times;</button>
        </div>
        <div class="row">
            <div class="pricing__modal--dialog-text">
                <div class="col-sm-12">
                    <div class="col-md-4 text-center">
                        <ul class="plans">
                            <li class="header">DEV PLAN</li>
                            <li class="sub-header"><strong>$ 9.99 / year</strong></li>
                            <li>Personal use</li>
                            <li>Unlimited projects</li>
                            <li>24/7 support</li>
                            <li><a class="btn btn-lg btn-info " href="#">BUY NOW!</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-center">
                        <ul class="plans">
                            <li class="header">PRO PLAN</li>
                            <li class="sub-header"><strong>$ 24.99 / year</strong></li>
                            <li>Personal use</li>
                            <li>Unlimited projects</li>
                            <li>24/7 support</li>
                            <li><a class="btn btn-lg btn-info " href="#">BUY NOW!</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-center">
                        <ul class="plans">
                            <li class="header">FREE PLAN</li>
                            <li class="sub-header"><strong>$ 49.99 / year</strong></li>
                            <li>Personal use</li>
                            <li>Unlimited projects</li>
                            <li>24/7 support</li>
                            <li><a class="btn btn-lg btn-info " href="#">BUY NOW!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
